input.MyButton {
    width: 100%;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    font-size: 150%;
    background: #3366cc;
    color: #fff;
    border: 1px solid #3366cc;
    border-radius: 10px;
    -moz-box-shadow:: 6px 6px 5px #999;
    -webkit-box-shadow:: 6px 6px 5px #999;
    box-shadow:: 6px 6px 5px #999;
    }
    input.MyButton:hover {
    color: #fff;
    background: #0B2161;
    border: 1px solid #0B2161;
<<<<<<< HEAD
    }
=======
    }

    b {
        color: #2ECC71;
        font-size: 20px;
    }
    .unbehaved-element {
        font-size: 2em;
    }
    @media(max-width: 1580px) {
      b {
        font-size: 18px;
      }
      .unbehaved-element {
        font-size: 1.9em; /* Fine tune unbehaved elements */
      }
    }
    @media(max-width: 980px) {
      b {
        font-size: 16px;
      }
    }

    /*b {
      color: #2ECC71;
      font-size: 70px;
    }*/
>>>>>>> demo
